$primary-color: #E5E5E5;
$secondary-color: #F8F8F8;
$header-color: #222222;
$text-primary: #111;
$text-secondary: rgba(17, 17, 17, .6);
$radio: #D9D9D9;
$radio-active: #212121;
$font-stack: 'Inter', arial, sans-serif;
$center: 0 auto;
$radius: 20px;
$tablet: 1100px;
$mobile: 745px;
$desktop: 1400px;
$mobile-small: 425px;
