.kalyaka-phones__title{
  margin: 120px auto;


  @media screen and (max-width: $tablet) {
    margin: 70px auto;
    font-size: 33px;
    line-height: 37px;
    max-width: 650px;
  }

  @media screen and (max-width: $mobile) {
    font-size: 26px;
    line-height: 31px;
    max-width: 260px;
  }
}
